body{
    color: white;
    margin-top: 13%;
    font-size: xx-large;
    text-align: center;
    font-family: 'Trebuchet MS','Lucida Sans Unicode','Lucida Grande','Lucida Sans', Arial sans-serif;
    font-weight: bold;
    background-image: url("table_bg2.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

h1{
    color: goldenrod;
}

#message-el{
    font-style: italic;
}

button{
    font-family: 'Trebuchet MS','Lucida Sans Unicode','Lucida Grande','Lucida Sans', Arial sans-serif;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    height: 50px;
    padding: 5px;
    font-size: xx-large;
    color: #016f32;
    width: 300px;
    background: goldenrod;
}

#new_card_btn{
    margin-top: 10px;
}